[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
optuna = "*"
numpy = "==1.23.5"
pandas = "*"
matplotlib = "*"
statsmodels = "*"
nbformat = "*"
ipykernel = "*"
scikit-learn = "*"
ipywidgets = "*"
sweetviz = "*"
flask = "*"
pydantic = "*"
flask-pydantic = "*"
pyarrow = "*"
plotly = "==5.19.0"

[dev-packages]

[requires]
python_version = "3.11"
