[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
optuna = "*"
pandas = "*"
plotly = "*"
matplotlib = "*"
statsmodels = "*"
nbformat = "*"
ipykernel = "*"
scikit-learn = "*"
ipywidgets = "*"
sweetviz = "*"
flask = "*"
pydantic = "*"
flask-pydantic = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
